@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: '微软雅黑';
}
/* 导航栏开始 */
svg text {
    font-size:12px;
    /* font-weight: 900; */
    /* stroke-width: 1px; */
    font-family:SegoeScript, Segoe Script;
    fill: transparent;
    stroke: black;
    /* letter-spacing: 4px; */
    stroke-dasharray: 100%!important;
    stroke-dashoffset: 100%;
    animation: line-anm 4s forwards;
  }

@keyframes line-anm {
to {
    stroke-dashoffset: 0;
}
}

li,a,button{
    font-family: "cursive","Montserrat",sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.navLinks{
    list-style: none;
}

.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}


.navLinks li a{
    transition: all 0.3s ease 0s;
    font-family: Times, "Times New Roman", Georgia, serif;
}

.navLinks li a:hover{
    color: #0088a9;
}

 .shareButton {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Minecraft', sans-serif; /* Assuming you have a Minecraft font */
    font-size: 18px;
    background-color: #2e2e2e;
    border: 2px solid #878787;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
    position: relative;
    overflow: hidden;
 }


 .shareButton:hover{
    background-color: #878787;
    border-color: #2e2e2e;
    transform: translateY(-2px);
 }

 .shareButton:active{
    transform: scale(0.8);
 }

 /* 导航栏结束 */

 .main {
    max-width: 1100px;
    margin: 0 auto;
 }